<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
  <title>Banana - Création de budget</title>
</head>
<body>
<section layout:fragment="content" class="creation-form">
  <h1>Ajout d'un budget</h1>

  <div class="form-wrapper container">
    <div class="col s10 offset-s1">
      <form th:action="@{/budgets/create}" method="POST" class="col s12">
        <input type="hidden" name="accountId" th:value="${budgetForm.accountId}" />
        <div class="row">
          <div class="input-field col s6">
            <input type="date" name="startDate" id="start-date" />
            <label for="start-date">Date de prise en compte</label>
          </div>
          <div class="input-field col s6">
            <input type="date" name="endDate" id="end-date" />
            <label for="end-date">Date d'arrêt</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input type="text" name="name" id="name" />
            <label for="name">Nom du budget</label>
          </div>
          <div class="input-field col s6">
            <input type="text" name="initialAmount" id="initialAmount" />
            <label for="initialAmount">Montnat initial</label>
          </div>
        </div>

        <div class="row">
          <div class="col s2 offset-s5">
            <input class="waves-effect waves-light btn" type="submit" value="Valider"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>