<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="charge/form">
<head>
  <title>Charge</title>
</head>
<body>
<div layout:fragment="charge-form" class="page-form">
  <form th:action="@{/charges/create}" method="POST">
    <input type="hidden" name="accountId" th:value="${chargeForm.accountId > 0 ? chargeForm.accountId : -1}" />
    <div>
      <input type="text" name="startDate" placeholder="Date de début" id="start-date" />
    </div>
    <div>
      <input type="text" name="endDate" placeholder="Date de fin" id="end-date" />
    </div>
    <div>
      <input type="text" name="description" placeholder="Description" />
    </div>
    <div>
      <input type="text" name="amount" placeholder="Montant" />
    </div>
    <div>
      <input type="submit" value="Create" />
    </div>
  </form>
</div>
</body>
</html>