<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
  <title>Banana - Edition de charge</title>
</head>
<body>
<section layout:fragment="content" class="creation-form">
  <h1>Création de charge</h1>

  <div class="form-wrapper container">
    <div class="col s10 offset-s1">
      <form th:action="@{/charges/update}" method="POST" class="col s12">
        <input type="hidden" name="accountId" th:value="${chargeForm.accountId > 0 ? chargeForm.accountId : -1}" />
        <input type="hidden" name="id" th:value="${chargeForm.id}" />
        <div class="row">
          <div class="input-field col s6">
            <input type="date" name="startDate" id="start-date" th:value="${chargeForm != null and chargeForm.startDate != null ? #dates.format(chargeForm.startDate, 'yyyy-MM-dd') : ''}" />
            <label for="start-date">Nom du compte</label>
          </div>
          <div class="input-field col s6">
            <input type="date" name="endDate" id="end-date" th:value="${chargeForm != null and chargeForm.endDate != null ? #dates.format(chargeForm.endDate, 'yyyy-MM-dd') : ''}" />
            <label for="end-date">Nom du compte</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input type="text" name="description" id="description" th:value="${chargeForm != null ? chargeForm.description : ''}" />
            <label for="description">Description</label>
          </div>
          <div class="input-field col s6">
            <input type="text" name="amount" id="amount" th:value="${chargeForm != null ? chargeForm.amount : ''}" />
            <label for="amount">Montant</label>
          </div>
        </div>

        <div class="row">
          <div class="col s2 offset-s5">
            <input class="waves-effect waves-light btn" type="submit" value="Valider"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>