target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/node_modules
nbbuild/
dist/
nbdist/
.nb-gradle/

.DS_Store
application*
src/main/resources/static/node_modules
src/main/resources/static/coverage
src/main/resources/static/javascript/build
src/main/resources/static/javascript/dist
src/main/resources/static/css