<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <title>Identification</title>
</head>
<body>
<section layout:fragment="content" class="page-login">
    <h1>Identification</h1>
    <div th:if="${param.error}" class="form-info form-error">Oups
        ! Le mot de passe ou l'e-mail renseignés semblent ne pas
        correspondre</div>
    <form th:action="@{/login}" method="post">
        <div>
            <input type="text" name="username" placeholder="Votre e-mail" />
        </div>
        <div>
            <input type="password" name="password"
                   placeholder="Votre mot de passe" />
        </div>
        <div>
            Se souvenir de moi : <input type="checkbox" name="remember-me" />
        </div>
        <div class="submit-wrapper">
            <input type="submit" value="Valider" />
        </div>
    </form>
</section>
</body>
</html>