<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <title>Banana - Registration form</title>
</head>
<body>
<div layout:fragment="content" class="page-registration">
    <h1>Créer un compte Banana</h1>
    <form th:action="@{/register}" method="POST" enctype="multipart/form-data">
        <div>
            <input type="text" name="lastname" placeholder="Votre nom" />
        </div>
        <div>
            <input type="text" name="firstname" placeholder="Votre prénom" />
        </div>
        <div>
            <input type="email" name="email" placeholder="Votre e-mail" />
        </div>
        <div>
            <input type="password" name="password" placeholder="Votre mot de passe" />
        </div>
        <div>
            <label>Votre photo de profil :</label> <input type="file" name="picture" />
        </div>
        <div class="submit-wrapper">
            <input type="submit" value="S'enregistrer" />
        </div>
    </form>
</div>
</body>
</html>