<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
  <title>Account list</title>
</head>
<body>
<section layout:fragment="content" class="page-accounts">
  <h1>Liste des comptes</h1>

  <div class="container">
      <div class="row">
        <div class="col s6" th:each="account : ${accounts}">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title" th:text="${account.name}"></span>
              <p>
                <b>Montant début de mois : </b><span th:text="${#numbers.formatDecimal(account.beginMonthAmount, 0, 'COMMA', 2, 'POINT')}">€</span><br/>
                <b>Montant actuel : </b> <span th:text="${#numbers.formatDecimal(account.currentAmount, 0, 'COMMA', 2, 'POINT')}">€</span><br/>
                <b>Montant libre : </b><span th:text="${#numbers.formatDecimal(account.freeAmount, 0, 'COMMA', 2, 'POINT')}">€</span>
              </p>
            </div>
            <div class="card-action">
              <a th:href="@{/accounts/{slug}(slug=${account.slug})}">Consulter</a>
              <a th:href="@{/accounts/update/{slug}(slug=${account.slug})}">Modifier</a>
              <button class="button-delete" th:attr="data-slug=${account.slug}">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
</body>
</html>