<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
  <title>Account list</title>
</head>
<body>
<section layout:fragment="content" class="page-accounts">
  <h1>Liste de mes comptes</h1>

  <div class="table-wrapper">
    <p th:each="account : ${accounts}"><span th:text="${account.name}"></span> - <span th:text="${account.slug}"></span></p>
  </div>
</section>
</body>
</html>