<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="account/form">
<head>
  <title>Account creation</title>
</head>
<body>
<div layout:fragment="account-form" class="page-form">
  <form th:action="@{/accounts/create}" method="POST">
    <div>
      <input type="text" name="name" placeholder="Nom du compte" />
    </div>
    <div>
      <input type="text" name="initialAmount" placeholder="Montant initial" />
    </div>
    <div class="submit-wrapper">
      <input type="submit" value="Créer" />
    </div>
  </form>
</div>
</body>
</html>