<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="account/form">
<head>
  <title>Account edition</title>
</head>
<body>
<div layout:fragment="account-form" class="page-form">
  <h1 th:if="${accountForm}">Edition du compte <span th:text="${accountForm.name}"></span></h1>
  <h1 th:if="!${accountForm}">Création de compte</h1>
  <form th:action="@{/accounts/update}" method="POST">
    <input type="hidden" name="id" th:value="${accountForm != null ? accountForm.id : -1}" />
    <div>
      <input type="text" name="name" th:value="${accountForm != null ? accountForm.name : ''}" placeholder="Nom du compte" />
    </div>
    <div>
      <input type="text" name="initialAmount" th:value="${accountForm != null ? accountForm.initialAmount : ''}" placeholder="Montant initial" />
    </div>
    <div class="submit-wrapper">
      <input type="submit" th:value="${accountForm != null ? 'Sauvegarder' : 'Créer'}" />
    </div>
  </form>
</div>
</body>
</html>