<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>Page d'accueil de Banana</title>
  <link rel="stylesheet" th:href="@{/css/dist/homepage.min.css}"/>
</head>
<body>

  <section layout:fragment="content" class="presentation">
    <h1>Banana</h1>
    <div class="catchline">Gestionnaire de comptes</div>

    <div class="content">
      <p>
        Oubliez vos carnets, vos post-its, vos Excels et tous ces outils compliqués
      </p>
      <p>
        Utilisez Banana pour plus de simplicité
      </p>
      <p>
        This is not what you think it is...
      </p>
    </div>
  </section>

  <div layout:fragment="scripts">
    <script th:src="@{/javascript/dist/homepage.bundle.min.js}"></script>
  </div>
</body>
</html>